* {
    font-family: Arial, Helvetica, sans-serif;
}

main section {
    background-color: #5596d7;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid black;
    max-width: 800px;
}

main h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
}

.test1 {

    min-height: 400px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    box-shadow: 10px 5px 10px black;
}

section div {
    flex: 1;
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
}

.saiba-mais {
    border: 2px solid rgb(0, 0, 255);
    display: inline-block;
    background-color: rgb(0, 8, 255);
    color: white;
    padding: 6px 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.saiba-mais:hover {
    border: 2px solid #5596d7;
    background-color: #5596d7;
}